
.profileCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20%;
    background-color: aliceblue;
    text-align: center;
    padding: 50px;
}

#profileImg {
    border-radius: 50%;
}
/* 
.starIcon {
    background-color: rgb(188, 188, 188);
} */